version: '3.8'

services:
  app:
    build: .
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:16-alpine@sha256:8b06f24cf57be98a503b65402cc813bb7da1520a6c87cc64a741c4f1f68f1341
    restart: unless-stopped
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      POSTGRES_DATABASE: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  nginx:
    build:
      context: .
      target: runtime-nginx
    restart: unless-stopped
    ports:
      - ${PORT}:80
    depends_on:
      - app
