<!DOCTYPE html>
<html lang="nb">
	<head>
    <title>{{ settings.APP_NAME }} - {% block title %}Home{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block bootstrap %}{% endblock %}
    {% block fontawesome %}{% endblock %}
    {% block googlefonts %}{% endblock %}
    {% block basecss %}{% endblock %}
    {% block head %}{% endblock %}
	</head>
	<body>
    {% block body %}{% endblock %}
	</body>
</html>
